{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="{{ asset('css/searchbar.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <main id="wrapper">
        <div id="formcol">
            <div class="inner">
                <form method="post">
                    <h2 class="bg-gradient-green mb-3 px-4 pb-2 pt-2 text-white text-center">Inscription</h2>
                    
                    {# Affichage des erreurs de validation du formulaire d'inscription #}
                    {% if form_errors(registrationForm) %}
                        <div class="alert alert-danger">{{ form_errors(registrationForm) }}</div>
                    {% endif %}

                    {{ form_start(registrationForm) }}
                    
                    {# Champ "pseudo" #}
                    <label for="pseudo">Nom d'utilisateur</label>
                    {{ form_widget(registrationForm.pseudo, { 'attr': { 'class': 'form-control mb-3', 'id': 'pseudo' } }) }}

                    {# Champ "email" #}
                    <label for="email">Adresse mail</label>
                    {{ form_widget(registrationForm.email, { 'attr': { 'class': 'form-control mb-3', 'id': 'email' } }) }}

                    {# Champ "plainPassword" #}
                    <label for="plainPassword">Mot de passe</label>
                    {{ form_widget(registrationForm.plainPassword, { 'attr': { 'class': 'form-control mb-3', 'id': 'plainPassword' } }) }}

                    {# Champ "agreeTerms" #}
                    <div class="checkbox mb-3">
                        {{ form_widget(registrationForm.agreeTerms, { 'attr': { 'id': 'agreeTerms' } }) }}
                        <label for="agreeTerms">Vous acceptez les conditions</label>
                    </div>

                    <button type="submit" class="btn btn-lg btn-success mt-3">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                    
                    <div class="mt-3 text-center">
                        <a href="{{ path('app_login') }}" class="btn btn-secondary">Connectez-vous</a>
                    </div>
                </form>
            </div>
        </div>

        <div id="imgcol" style="background-image: url('{{ randomObservation and randomObservation.photo ? '../uploads/photos/' ~ randomObservation.photo : 'https://answers-afd.microsoft.com/static/images/image-not-found.jpg' }}');">
            <div class="about-observation">
                <div class="details">
                    {% if randomObservation %}
                        <a href="{{ path('app_observation', { id: randomObservation.id }) }}">{{ randomObservation.nameInsect }}</a>
                        - Observé par
                        <a href="{{ path('app_userProfil', { pseudo: randomObservation.createdBy.pseudo }) }}">
                            {{ randomObservation.createdBy.pseudo }}
                        </a>
                    {% else %}
                        <span>Aucune observation disponible</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}