{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1 class="mb-3">Ajoute un insecte en base de données</h1>

    {{ form_errors(formInsect) }}

    {{ form_start(formInsect) }}
        {{ form_row(formInsect.nameInsect, {
            label: 'Nom de l\'insecte'
        }) }}
        {{ form_row(formInsect.species, {
            label: 'Espèce'
        }) }}
        {{ form_row(formInsect.description) }}
        {{ form_row(formInsect.kingdom, {
            label: 'Règne'
        }) }}
        {{ form_row(formInsect.phylum, {
            label: 'Embranchement'
        }) }}
        {{ form_row(formInsect.class, {
            label: 'Classe'
        }) }}
        {{ form_row(formInsect.orderInsect, {
            label: 'Ordre'
        }) }}
        {{ form_row(formInsect.family, {
            label: 'Famille'
        }) }}
        {{ form_row(formInsect.describedBy, {
            label: 'Décris par'
        }) }}
        {{ form_row(formInsect.yearDescribed, {
            label: 'Année de description'
        }) }}
        {{ form_row(formInsect.activityTime, {
            label: 'Activité(s)'
        }) }}
        {{ form_row(formInsect.lifeCycle) }}
        {{ form_row(formInsect.image) }}

        <br><button type="submit" class="btn btn-primary">Encoder</button>
    {{ form_end(formInsect) }}

{% endblock %}