{% extends 'base.html.twig' %}

{% block title %}{{ insect.nameInsect }}{% endblock %}

{% block body %}
    {% if is_granted("ROLE_USER") %}
        {% if isFavorite %}
            <a href="{{ path('insect_remove_favorite', { id: insect.id }) }}" class="btn btn-danger">
                Retirer des favoris
            </a>
        {% else %}
            <a href="{{ path('insect_add_favorite', { id: insect.id }) }}" class="btn btn-primary">
                Ajouter aux favoris
            </a>
        {% endif %}
    {% endif %}

    <div>
        <h1>{{ insect.nameInsect }} - {{ insect.species }}</h1>
        <p>{{ insect.describedBy }} - {{ insect.yearDescribed|date('Y') }}</p>
        {% if insect.image is not null and insect.image != 'null' %}
            <img src="{{ insect.image }}" width="250px" />
        {% else %}
            <img src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg" width="250px" />
        {% endif %}
    </div>

    <div>
        <h2>Classification</h2>
        <ul>
            <li>Règne : {{ insect.kingdom }}</li>
            <li>Embranchement : {{ insect.phylum }}</li>
            <li>Classe : {{ insect.class }}</li>
            <li>Ordre : {{ insect.orderInsect }}</li>
            <li>Famille : {{ insect.family }}</li>
        </ul>
    </div>

    <div>
        <h2>Description</h2>
        {{ insect.description }}
    </div>
    
{% endblock %}