{% extends 'base.html.twig' %}

{% block title %}{{ observation.nameInsect }}{% endblock %}

{% block body %}
    <div class="mb-2">
        {% if is_granted("ROLE_USER") %}
            {% if isFavorite %}
                <a href="{{ path('observation_remove_favorite', { id: observation.id }) }}" class="btn btn-danger">
                    Retirer des favoris
                </a>
            {% else %}
                <a href="{{ path('observation_add_favorite', { id: observation.id }) }}" class="btn btn-success">
                    Ajouter aux favoris
                </a>
            {% endif %}
        {% endif %}
    </div>

    <div>
        <h1 class="bg-gradient-green mb-3 px-4 pb-3 pt-2 text-white">{{ observation.nameInsect }}</h1>
        {% if observation.photo is not null and observation.photo != null %}
            <img src="../../uploads/photos/{{ observation.photo }}" width="250px" height="250px" />
        {% else %}
            <img src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg" width="250px" height="250px" />
        {% endif %}
    </div>
    
{% endblock %}