{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="swiper mySwiper2 mb-5">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            {% if randomObservation is not null %}
                                <div class="observation-card">
                                    {% if randomObservation.photo is not null %}
                                        <img src="../uploads/photos/{{ randomObservation.photo }}" alt="{{ randomObservation.nameInsect }}" class="img-fluid observation-image"/>
                                    {% else %}
                                        <img src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg" alt="Image non trouvée" class="img-fluid observation-image"/>
                                    {% endif %}
                                    <div class="text-overlay">
                                        <p>{{ randomObservation.nameInsect }}</p>
                                        <p>Observé par : {{ randomObservation.createdBy.pseudo }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <p>Aucune observation trouvée.</p>
                            {% endif %}
                        </div>

                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h3>Statistiques</h3>
                                <p>Total des observations : {{ totalObservations }}</p>
                                <a href="{{ path('app_observations') }}" class="btn btn-primary">Explorer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="container-fluid  mb-3">
                    <div class="row banner-info">
                        <div class="col-md-6">
                            {% if randomObservation is not null %}
                                <div class="observation-card position-relative">
                                    {% if randomObservation.photo is not null %}
                                        <img src="../uploads/photos/{{ randomObservation.photo }}" alt="{{ randomObservation.nameInsect }}" class="img-fluid observation-image"/>
                                    {% else %}
                                        <img src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg" alt="Image non trouvée" class="img-fluid observation-image"/>
                                    {% endif %}
                                    <div class="text-overlay">
                                        <p>{{ randomObservation.nameInsect }}</p>
                                        <p>Observé par : {{ randomObservation.createdBy.pseudo }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <p>Aucune observation trouvée.</p>
                            {% endif %}
                        </div>

                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h3>Statistiques</h3>
                                <p>Total des observations : {{ totalObservations }}</p>
                                <a href="{{ path('app_register') }}" class="btn btn-primary">Inscrivez-vous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <h2 class="bg-gradient-green mb-3 px-4 pb-2 pt-2 text-white">Dernières observations</h2>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
                {% for observation in observations %}
                <div class="swiper-slide">
                    {% if observation.photo is not null and observation.photo != null %}
                        <img src="../uploads/photos/{{ observation.photo }}"/>
                        <p>{{ observation.nameInsect }}</p>
                    {% else %}
                        <img src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg"/>
                    {% endif %}
                </div>
                {% else %}
                    <p>Aucune observation trouvée.</p>
                {% endfor %}
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>
    </div>
{% endblock %}