<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Insectopedia{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="../assets/styles/searchbar.css" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('searchbar') }}
            {{ encore_entry_link_tags('swiper') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    
    <body class="container">
        <nav class="container navbar fixed-top navbar-expand-lg bg-gradient-white">
            <div class="container-fluid">
                <a class="navbar-brand text-success" href="{{ path ('app_accueil') }}"><h1>INSECTOPEDIA</h1></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex search-container">
                        <input class="form-control me-2" type="search" id="rechercheInsecte" placeholder="Rechercher un insecte..." aria-label="Rechercher">
                        <ul id="resultatsRecherche" class="suggestions"></ul>
                    </div>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path ('app_insects') }}">Insectes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path ('app_observations') }}">Observations</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path ('app_logout') }}">Se déconnecter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path ('app_userProfil') }}">{{ app.user.pseudo }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path ('app_register') }}">S'inscrire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path ('app_login') }}">Se connecter</a>
                            </li>
                        {% endif %}

                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path ('app_administration') }}">Administration</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path ('app_add_observation') }}">Ajouter une observation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav><br><br><br><br>

        {% block body %}
        {% endblock %}
        <script>
            document.getElementById('rechercheInsecte').addEventListener('input', function() {
                let term = this.value;

                // Appel AJAX pour obtenir les suggestions
                fetch('/insectes/rechercher?term=' + term)
                    .then(response => response.json())
                    .then(data => {
                        let resultatsListe = document.getElementById('resultatsRecherche');
                        resultatsListe.innerHTML = '';  // Vider les anciens résultats

                        if (data.length === 0) {
                            resultatsListe.innerHTML = '<li>Aucun insecte trouvé</li>';
                        } else {
                            data.forEach(function(insect) {
                                let li = document.createElement('li');
                                li.textContent = insect.nameInsect;

                                // Ajouter un gestionnaire d'événements lorsqu'on clique sur une suggestion
                                li.addEventListener('click', function() {
                                    // Redirection vers la page spécifique de l'insecte
                                    window.location.href = `/insectes/afficher/${insect.id}`;
                                });

                                resultatsListe.appendChild(li);
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Erreur:', error);  // Loguer les erreurs pour déboguer
                    });
            });
        </script>
    </body>
</html>
