{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.pseudo }}{% endblock %}

{% block body %}
    <h1>Aloha, {{ app.user.pseudo }} !</h1>
    <h2>Insectes favoris</h2>

    {% for insect in favoriteInsects %}
        <div>
            <strong>{{ insect.nameInsect }}</strong> ({{ insect.species }})
            <br><img src="{{ insect.image }}" alt="{{ insect.nameInsect }}" width="250px">
        </div>
    {% else %}
        <div>
            <p>Aucun insecte favori.</p>
        </div>
    {% endfor %}

    <h2>Observations favorites</h2>

    {% for observation in favoriteObservations %}
        <div>
            <strong>{{ observation.insecteName }}</strong>
            <br><img src="{{ observation.photo }}" alt="{{ observation.insecteName }}" width="250px">
        </div>
    {% else %}
        <div>
            <p>Aucun insecte favori.</p>
        </div>
    {% endfor %}
{% endblock %}